<section *ngIf="articlePreviews.length > 0" class="section">
  <div class="container">
    <div class="columns">
      <div *ngFor="let preview of articlePreviews" class="column">
        <div class="message">
          <header class="message-header">
            <p>{{preview.title}}</p>
          </header>
          <main class="message-body">
            <p class="content">{{preview.description}}</p>
          </main>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="articlePreviews.length == 0" class="hero is-white is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">Nothing here yet, but stay tuned - I'll add something soon.</p>
    </div>
  </div>
</section>
