<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p class="title">Writing a Kubernetes operator</p>
        <p class="subtitle">Go edition</p>
      </div>
      <div class="column">
        <p class="title">Writing a Kubernetes operator</p>
        <p class="subtitle">Java edition</p>
      </div>
      <div class="column">
        <p class="title">Writing a Kubernetes operator</p>
        <p class="subtitle">Rust edition</p>
      </div>
    </div>
  </div>
</section>
