<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-one-third"></div>
        <div class="column is-one-third">
          <figure class="image">
            <img class="is-rounded" src="assets/ivan.png" alt="Ivan's photo">
          </figure>
        </div>
      </div>

      <p class="title">Hi, I'm Ivan. A software engineer.</p>
      <div class="block is-size-5">
        <p>I write highly reliable, scalable distributed systems.</p>
        <p>I also dabble in DevOps/SRE practices - automating infrastructure provisioning and scaling, CI/CD, etc.</p>
        <p>When I feel like it, I also <a routerLink="/articles"><strong>write about those things</strong></a>.</p>
      </div>
      <div class="block is-size-5">
        <p>I mainly use these programming languages: <code>Java</code>, <code>Kotlin</code>, <code>Python</code></p>
        <p>I deploy apps to <a href="https://kubernetes.io/"><strong>Kubernetes</strong></a> in <a
          href="https://aws.amazon.com/"><strong>AWS Cloud</strong></a></p>
      </div>
    </div>
  </div>
</section>
