<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ivan Sergienko | Software Engineer</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>

<div class="container">
  <nav class="navbar has-shadow is-white">
    <!--  logo-->
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <!--        <img src="assets/logo.png" style="max-height: 70px" class="py-2 px-2" alt="site logo">-->
        Home
      </a>

      <a class="navbar-burger" (click)="toggleNavbar()" [class.is-active]="navbarBurgerActive">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="navbar-menu" id="nav-links" [class.is-active]="navbarBurgerActive">
      <div class="navbar-start">
        <a href="/" class="navbar-item">About</a>
        <a href="/" class="navbar-item">Articles</a>
      </div>

      <div class="navbar-end">

        <a href="https://github.com/i-sergienko" class="navbar-item">
          <img src="assets/github_logo.png" class="px-2" style="max-height: 30px" alt="GitHub logo">
        </a>
        <a href="https://www.linkedin.com/in/ivan-sergienko-b066a8108/" class="navbar-item">
          <img src="assets/linkedin_logo.webp" style="max-height: 50px" alt="LinkedIn logo">
        </a>
        <a href="https://leetcode.com/is_1337/" class="navbar-item">
          <img src="assets/leetcode_logo.png" class="px-2" style="max-height: 30px" alt="LeetCode logo">
        </a>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <section class="section">
    <p>Lorem impsiLorem impsiLorem impsiLorem impsiLorem impsiLorem impsiLorem impsiLorem impsiLorem impsiLorem
      impsiLorem
      impsiLorem impsiLorem impsiLorem impsiLorem impsiLorem impsi</p>
  </section>
</div>

</body>
</html>
