<header>
  <section class="hero is-dark is-family-code">
    <div class="hero-head">
      <!--  Navigation menu-->
      <nav class="navbar">

        <div class="container">
          <!--  logo-->
          <div class="navbar-brand">
            <a href="/" class="navbar-item">
              <fa-icon [icon]="faHome"></fa-icon>
              <!--              TODO draw a logo instead of home icon-->
              <!--              <img src="assets/logo.jpg" style="max-height: 65px" class="is-rounded py-2 px-2" alt="site logo">-->
            </a>

            <a class="navbar-burger" (click)="toggleNavbar()" [class.is-active]="navbarBurgerActive">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>

          <div class="navbar-menu" id="nav-links" [class.is-active]="navbarBurgerActive">
            <div class="navbar-start">
              <a routerLink="/about" class="navbar-item is-tab" [class.is-active]="router.url == '/about'">About</a>
              <a routerLink="/articles" class="navbar-item is-tab is-active"
                 [class.is-active]="router.url == '/articles'">Tech Blog</a>
            </div>

            <span class="navbar-item center has-text-centered has-text-warning"
                  (click)="switchTheme(theme.nextThemeName)">
                <fa-icon class="fa-2x" [icon]="theme.nextThemeIcon"></fa-icon>
            </span>

            <div class="navbar-end">
              <a href="https://github.com/i-sergienko" class="navbar-item">
                <img src="assets/github_logo.png" class="px-2" style="max-height: 30px" alt="GitHub logo">
                GitHub
              </a>
              <a href="https://www.linkedin.com/in/ivan-sergienko-b066a8108/" class="navbar-item">
                <img src="assets/linkedin_logo.webp" style="max-height: 50px" alt="LinkedIn logo">
                <span>LinkedIn</span>
              </a>
              <a href="https://leetcode.com/is_1337/" class="navbar-item">
                <img src="assets/leetcode_logo.png" class="px-2" style="max-height: 30px" alt="LeetCode logo">
                <span>LeetCode</span>
              </a>
            </div>
          </div>
        </div>

      </nav>
    </div>
  </section>

  <!--  TODO handle breadcrumbs-->
  <!--  <div class="container">-->
  <!--    &lt;!&ndash;Breadcrumbs (path from site root to current page)&ndash;&gt;-->
  <!--    <div class="section pt-4 pb-0">-->
  <!--      <nav class="breadcrumb has-arrow-separator">-->
  <!--        <ul>-->
  <!--          <li><a class="has-text-grey">Articles</a></li>-->
  <!--          <li class="is-active"><a>Writing a Kubernetes operator in Go</a></li>-->
  <!--        </ul>-->
  <!--      </nav>-->
  <!--    </div>-->
  <!--  </div>-->
</header>
